################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CareerX/.vs/CareerX/FileContentIndex/e6c9f40c-f711-4211-a4b7-3c81ba76bbb2.vsidx
/CareerX/.vs/CareerX/FileContentIndex/b69ae349-570d-474d-b66d-c2af86ead3ef.vsidx
/CareerX/.vs/CareerX/FileContentIndex/e98a7ba9-d29a-46f4-9d90-e2b8a27d8c70.vsidx
/CareerX/.vs/CareerX/FileContentIndex/beaffb36-1a31-4e4f-a9b6-701a8063782d.vsidx
/CareerX/.vs/CareerX/FileContentIndex/b66965c9-1f97-4ee3-98ff-8b3916cd52a3.vsidx
/CareerX/.vs/CareerX/FileContentIndex/8c98f5ca-8aed-423e-a645-de75cf008d7a.vsidx
/CareerX/.vs/CareerX/FileContentIndex/729920ba-079a-4690-90c5-15c7ce4e1b27.vsidx
/CareerX/.vs/CareerX/FileContentIndex/99079dbe-dce9-46b7-97f3-e7a89e0eb441.vsidx
/CareerX/.vs/CareerX/FileContentIndex/f8b869ff-2e9d-485e-9e0f-3fb39627a5fd.vsidx
/CareerX/.vs/CareerX/FileContentIndex/2b8b0531-f704-4a12-b59b-9bb2833f31b5.vsidx
/CareerX/.vs/CareerX/FileContentIndex/c61ad83e-e260-44da-ab85-97091d6176ae.vsidx
